:root {
    --bg: #fbf8ef;
    --primary: #78b3ce;
    --border: #f2f2f2;
    --text: #040720;
    --accent: #f96e2a;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
}

main {
    flex: 1;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    color: var(--bg);
}

/* NAVBAR NO EDIT */
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 0.5rem 7%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

/* overlay transparan/*/
.navbar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            to bottom,
            rgba(1, 1, 1, 0.5),
            rgba(52, 79, 31, 0)
    );
    z-index: 0;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* teks navbar tetap di atas overlay */
.navbar * {
    position: relative;
    z-index: 1;
}

.navbar.scrolled {
    background-color: var(--primary);
}

.navbar.scrolled::after {
    opacity: 0;
}

.navbar .navbar-title a {
    color: var(--bg);
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;
}

.navbar .navbar-title a:hover {
    color: var(--text);
}

.navbar .navbar-title a::after {
    content: "";
    display: block;
    border-bottom: 0.1rem solid var(--text);
    transform: scaleX(0);
    transition: 0.1s linear;
}

.navbar .navbar-title a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-extra {
    display: flex;
    align-items: center;
}

.navbar .navbar-extra a {
    color: var(--bg);
    margin: 0 0.5rem;
    cursor: pointer;
}

.navbar .navbar-extra a:hover {
    color: var(--text);
}

.navbar-extra .btn {
    font-weight: 400;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px;
    transition: 0.3s ease;
    padding: 5px 10px;
}

.navbar .btn.white-login {
    background-color: var(--bg);
    color: var(--text);
}

.navbar-extra .btn.white-login:hover {
    background-color: var(--accent);
    transition: background-color 0.3s ease;
    color: var(--bg);
}

.navbar .btn {
    background-color: var(--text);
    color: var(--bg);
}

.navbar-extra .btn:hover {
    background-color: var(--accent);
    transition: background-color 0.3s ease;
    color: var(--bg);
}

#ham-menu {
    display: none;
}

/* Sidebar — hidden by default */
.sidebar {
    position: fixed;
    top: 0;
    right: -100%; /* disembunyikan dulu */
    width: 250px;
    height: 100%;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    z-index: 100;
}

.sidebar.active {
    right: 0; /* muncul */
}

.sidebar a,
.sidebar button {
    margin: 1rem 0;
    color: white;
    background: none;
    border: none;
    font-size: 1.2rem;
}

/* Profile di sidebar */
.side-profile {
    display: none;
}
/* NAVBAR NO EDIT */

.background {
    height: 800px;
    display: flex;
    align-items: center;
    background-image: url("/images/home-hotel.jpg");
    background-repeat: no-repeat;
    background-size: 110% auto;
    position: relative;
    overflow: hidden;
    transition: background-image 1s ease-in-out;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Hero */
.hero {
    padding-top: 1.4rem;
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
}

.hero h1 {
    font-size: 5em;
    white-space: nowrap;
}

.hero h2 {
    font-weight: 500;
    color: var(--accent);
}

/* Description */
.description {
    margin: 2rem auto;
    align-items: center;
    top: 900px;
    padding: 1.4rem 5%;
    text-align: center;
    max-width: 80rem;
}

.description p {
    max-width: 80rem;
    margin: 2rem;
    color: var(--text);
    font-weight: 400;
    font-size: 1em;
}

/* Reviews */
.reviews {
    margin: 2rem auto;
    align-items: center;
    top: 900px;
    padding: 3rem 5%;
    text-align: center;
    max-width: 80rem;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    color: var(--text);
}

.reviews img {
    margin: 1rem;
}

.reviews h1 {
    max-width: 80rem;
    font-weight: 700;
    font-size: 2em;
}

.reviews h2 {
    font-weight: 500;
    align-items: center;
}

.reviews h2 .rate {
    font-weight: 700;
    font-size: 1em;
    color: var(--accent);
}

.reviews h2 .rev {
    padding-left: 0.5rem;
    font-size: 0.7em;
}

.rev-com {
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.rev-com .comment {
    margin-top: 0.5rem;
    border-radius: 2rem;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--border);
    color: var(--text);
}

.rev-com .comment:hover {
    background-color: var(--primary);
    transition: background-color 0.3s ease;
}

/* Location */
.location {
    margin: 2rem auto;
    padding: 3rem 5%;
    max-width: 80rem;
    color: var(--text);
    text-align: left;
}

.location h1 {
    text-align: center;
}

.location .loc-detail {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 2rem;
}

.location .loc-detail iframe {
    flex: 0 0 600px;
}

.location .loc-detail .loc-desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.jalan {
    color: var(--bg);
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary);
    border-radius: 2rem;
    padding: 1rem;
}

.nearby-loc {
    margin: 2rem 0;
    margin-bottom: -2rem;
}

.nearby-loc .loc-title {
    gap: 10px;
    display: flex;
    align-items: center;
    color: var(--accent);
}

.nearby-loc h2 {
    text-align: left;
    font-weight: 500;
}

.nearby-loc li {
    text-align: left;
    list-style-position: inside;
}

.location .loc-detail iframe {
    height: 300px;
    width: 600px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

/* Facilities */
.facilities {
    margin: 1rem auto;
    padding: 3rem 5%;
    max-width: 80rem;
    color: var(--text);
    text-align: left;
}

.facilities h1 {
    text-align: center;
}

.group {
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.box {
    border-radius: 10px;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
    min-width: 250px;
    flex: 1 1 250px;
    list-style-position: inside;
}

.group .fac-title {
    gap: 10px;
    display: flex;
    align-items: center;
    color: var(--accent);
    font-weight: 500;
    margin-bottom: 1rem;
    padding-left: 0;
}

.group .fac-title h2 {
    text-align: left;
    font-weight: 500;
}

/* Policy */
.policy {
    margin: 2rem auto;
    margin-bottom: -2rem;
    align-items: left;
    top: 900px;
    padding: 3rem 20%;
    text-align: center;
    color: var(--bg);
    background-color: var(--text);
    display: flex;
    flex-direction: column;
}

.policy .time {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    text-align: left;
}

.policy .time h3 {
    font-weight: 700;
}

.policy .doc {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    text-align: left;
}

.policy .doc h3 {
    font-weight: 700;
}

.policy .age {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    text-align: left;
    margin-bottom: 4rem;
}

.policy .age h3 {
    font-weight: 700;
}

.policy .pol-icon {
    flex-shrink: 0;
    margin-left: 5rem;
    margin-right: 5rem;
}

/* Footer */
footer {
    background-color: var(--primary);
    text-align: center;
    padding: 0.2rem 0;
    color: white;
}

footer .credit {
    padding: 1rem 0;
}

footer .credit p {
    color: var(--bg);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: small;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 90%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 80%;
    }

    .navbar {
        background-color: transparent;
        transition: background-color 0.2s ease;
    }

    .navbar .avatar img {
        width: 48px;
        height: 27px;
    }

    .navbar.scrolled {
        background-color: var(--primary);
    }

    .navbar .navbar-title {
        position: absolute;
        top: 0;
        right: -100%;
        background-color: var(--primary);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
        z-index: 99;
        overflow-y: auto;
    }

    .navbar .navbar-title.active {
        right: 0;
    }

    .navbar .navbar-title a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .navbar-title a {
        display: none;
    }

    .navbar-extra .sign {
        display: none;
    }

    #ham-menu {
        width: 50px;
        height: 50px;
        display: inline-block;
        align-items: center;
    }

    .background {
        height: 470px;
    }

    .hero {
        padding-top: 1.4rem;
        position: absolute;
        width: 100%;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        text-align: center;
    }

    .hero h1 {
        font-size: 4em;
    }

    .hero h2 {
        font-size: 2em;
        font-weight: 500;
        color: var(--accent);
    }

    .reviews {
        margin: auto 5rem;
    }

    .reviews img {
        width: 300px;
    }

    .location .loc-detail {
        flex-direction: column; /* ubah jadi vertikal */
        align-items: center; /* biar konten di tengah */
    }

    .location .loc-detail iframe {
        display: block;
        width: 100%;
        height: 50px !important;
    }

    .location .loc-detail .loc-desc {
        align-items: center; /* tengahin konten */
        text-align: center; /* biar teks juga di tengah */
    }

    .jalan {
        justify-content: center;
    }

    .policy .pol-icon {
        margin-right: 1rem;
    }
}

/* HP */
@media (max-width: 450px) {
    html {
        font-size: 62.5%;
    }

    .navbar-title a {
        display: none;
    }

    .navbar-extra .sign {
        display: none;
    }

    #ham-menu {
        width: 50px;
        height: 50px;
        display: inline-block;
    }

    .background {
        height: 250px;
    }

    .hero {
        padding-top: 1.4rem;
        position: absolute;
        width: 100%;
        top: 13%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        text-align: center;
    }

    .hero h1 {
        font-size: 3em;
    }

    .hero h2 {
        font-size: 1.4em;
        font-weight: 500;
        color: var(--accent);
    }

    .reviews {
        margin: auto 2rem;
    }

    .reviews img {
        width: 200px;
    }

    .location .loc-detail iframe {
        display: block;
        width: 100%;
        height: 50px !important;
    }

    .policy .time {
        gap: 2rem;
    }

    .policy .doc {
        gap: 2rem;
    }

    .policy .age {
        gap: 2rem;
    }

    .policy .pol-icon {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
